@model LeerPlatform_Team2.TblPlanning

@{
    ViewData["Title"] = "Create";
}

    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    </head>

<h1>Aanmaak</h1>

<h4>Nieuwe planning</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lokaalnummer" class="control-label"></label>
                <select asp-for="Lokaalnummer" class="form-control" asp-items="ViewBag.Lokaalnummer"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lescode" class="control-label"></label>
                <select asp-for="Lescode" class="form-control" asp-items="ViewBag.Lescode"></select>
            </div>
            <div class="form-group">
                <label asp-for="Reekscode" class="control-label"></label>
                <select asp-for="Reekscode" class="form-control" asp-items="ViewBag.Reekscode"></select>
            </div>
            <p>
                <label asp-for="StartTijdstip" class="control-label"></label>
                <input type="text" id="StartTijdstip" name="StartTijdstip" width="350">

                <script>
                    $('#StartTijdstip').datetimepicker({
                        footer: true,
                        modal: true,
                        uiLibrary: 'bootstrap4',
                        format: 'yyyy-mm-dd HH:MM'
                    });
                </script>
            </p>
            <p>
                <label asp-for="EindTijdstip" class="control-label"></label>
                <input type="text" id="EindTijdstip" name="EindTijdstip" width="350">

                <script>
                    $('#EindTijdstip').datetimepicker({
                        footer: true,
                        modal: true,
                        uiLibrary: 'bootstrap4',
                        format: 'yyyy-mm-dd HH:MM'
                    });
                </script>
            </p>
            <div class="form-group">
                <label asp-for="ExtraInfo" class="control-label"></label>
                <input asp-for="ExtraInfo" class="form-control" />
                <span asp-validation-for="ExtraInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Nieuw" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-info">Terug</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
