@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>
    Privacyverklaring
</h1> <br />



<h3>Algemeen</h3>
<p>De hogeschool verzamelt persoonsgegevens vanuit haar drievoudige opdracht – onderwijs, onderzoek en dienstverlening – en natuurlijk ook als gewone werkgever en contractant.  UC Leuven-Limburg vindt de bescherming van privacy belangrijk. Hieronder lichten we toe welke persoonsgegevens wij verzamelen, waarom we dat doen, hoelang wij ze bewaren, wat de privacy-rechten van de betrokkenen zijn en hoe ze deze kunnen uitoefenen.</p>

<h3>Wie is de verwerkingsverantwoordelijke?</h3>
<p>De verwerkingsverantwoordelijke voor de verwerking van persoonsgegevens is:</p>
<p>
    VZW UC Leuven, met maatschappelijke zetel op Geldenaaksebaan 335, 3001 Heverlee, ondernemingsnummer 0455.645.523 en BTW-nummer BE0455.645.523 RPR (rechtspersonenregister): Leuven.<br />
    of<br />
    VZW UC Limburg, met maatschappelijke zetel op Agoralaan, Gebouw B, bus 1, 3590 Diepenbeek, ondernemingsnummer 0417.195.515 en BTW-nummer  BE 0417.195.515 RPR (rechtspersonenregister): Hasselt.
</p>
<p>UC Leuven-Limburg, afgekort UCLL, is de merknaam waaronder de vzw UC Leuven en de vzw UC Limburg opereren en dit als samenwerkingsverband van twee vzw’s die operationeel als een geheel functioneren. </p>
<p>Deze vzw’s zijn de inrichtende macht van de professionele bacheloropleidingen en graduaatsopleidingen die de hogeschool aanbiedt.</p>
<h3 class="accordion-title">Welke persoonsgegevens verwerken we?</h3>
<p><strong>Gegevens van kandidaat-studenten</strong></p>
<p>We verwerken persoonsgegevens van kandidaat-studenten die zich registreren via onze website of op een infodag of sid-in. Het gaat hier over contactgegevens, geboortedatum en studie-interesses van de kandidaat-student.</p>
<p><strong>Studentgegevens</strong></p>
<p>We verwerken de volgende persoonsgegevens van onze studenten: identificatiegegevens, financiële gegevens, persoonlijke kenmerken, gegevens over de gezondheid, migratieachtergrond (nationaliteit), opleiding en vorming, leefgewoonten, samenstelling gezin, vrijetijdsbesteding, woningkenmerken en beroep.</p>
<p><strong>Gegevens van alumni</strong></p>
<p>We verwerken persoonsgegevens van alumni van de hogeschool. Het gaat hier over identificatiegegevens waarvoor de alumnus de toestemming tot verwerking heeft gegeven. Daarnaast bewaren we het e-mailadres van alumni voor het doen van bevragingen. De resultaten van die enquêtes worden verwerkt door de vroegere opleiding van de alumni en de centrale dienst Kwaliteitszorg.</p>
<p><strong>Gegevens van contacten met het werkveld</strong></p>
<p>We verwerken persoonsgegevens van onze contacten uit het werkveld. Het gaat hier bijvoorbeeld over identificatiegegevens of gegevens die nodig zijn voor de stagebeoordeling. Deze gegevens worden verwerkt door de opleidingen en de diensten betrokken bij de stageadministratie.</p>
<p><strong>Gegevens van deelnemers aan permanente vorming</strong></p>
<p>We verwerken persoonsgegevens van deelnemers aan onze permanente vormingen. Het gaat hier over identificatiegegevens die de deelnemer ons zelf geeft. Deze gegevens worden verwerkt door de entiteit die de permanente vorming geeft.</p>
<p><strong>Leveranciers- en klantengegevens</strong></p>
<p>We verwerken leveranciers- en klantengegevens. Het gaat om identificatiegegevens en financiële informatie nodig om een correcte leveranciers- en klantenadministratie te voeren. </p>
<p><strong>Personeelsgegevens</strong></p>
<p>Van onze personeelsleden verwerken we identificatiegegevens, financiële gegevens, persoonlijke kenmerken, studiegegevens, afwezigheden, informatie over functioneringsbegeleiding en personeelsevaluatie.</p>
<p><strong>Gegevens van gebruikers van onze (IT-)infrastructuur</strong></p>
<p>We verwerken camerabeelden en elektronische identificatiegegevens (in het bijzonder MAC-adres, IP-adres, toestelnaam, cookies, verbindingsmomenten) van de gebruikers van onze IT- infrastructuur. </p>
<p><strong>Gegevens van personen die deelnemen aan praktijkgericht onderzoek</strong></p>
<p>Persoonsgegevens in het kader van onderzoek kunnen zeer uiteenlopende vormen aannemen. Het kan gaan om informatie die wordt verzameld rechtstreeks bij subjecten (informatie over hun gezondheidstoestand, hun mening, leefgewoonten, …) of informatie verkregen uit andere bronnen (bijvoorbeeld informatie waarover de overheid beschikt).  Deze gegevens worden verzameld, beheerd en geactualiseerd door de onderzoekers.</p>
<h3>Op welke grond verwerken we persoonsgegevens?</h3>
<p>In de meeste gevallen verwerken we de gegevens om het contract dat tussen de betrokkene en UC Leuven-Limburg bestaat, te kunnen uitvoeren (voorbeeld: bijhouden personeelsdossier, loonadministratie).</p>
<p>Daarnaast verwerken we in veel gevallen gegevens omdat we dat wettelijk verplicht zijn. Zo zijn we verplicht studentgegevens door te geven aan de Databank Hoger Onderwijs vanwege decretale regels inzake studievoortgangsbewaking. Een ander voorbeeld is de Dimona-aangifte inzake personeelsleden.</p>
<p>Verder vallen een aantal van de verwerkingen onder het gerechtvaardigd belang van UC Leuven-Limburg. Voorbeelden hiervan zijn het voorkomen en bestrijden van fraude en een goed beheer van onze infrastructuur. Hierbij bekijken we steeds of het belang van de betrokkene op privacy niet opweegt tegen het belang van UC Leuven-Limburg.</p>
<p>Ten slotte zijn een aantal verwerkingen op toestemming gebaseerd. Dat is onder meer het geval wanneer we gegevens over de gezondheid van studenten verwerken wanneer zij aangepaste faciliteiten aanvragen wegens een functiebeperking.  Een ander voorbeeld is informatie over de loopbaanbegeleiding waarin een personeelslid toestemt.</p>
<p>De wettelijke basis voor het verwerken van onderzoeksgegevens is doorgaans toestemming, het informed consent van de deelnemer aan het onderzoek.  In sommige gevallen ligt de wettelijke grondslag in een wettelijke verplichting (verplichte rapportering door de hogeschool aan de overheid) of in het algemeen belang (onderzoek dat past in het overheidsprioriteitenbeleid of dat wordt verricht om de kwaliteit van bepaalde onderwijsniveaus/-vormen te optimaliseren en de deelname van kansengroepen te bevorderen).</p>
<h3>Waarvoor en hoe lang gebruiken we de persoonsgegevens?</h3>>
<p><strong>Gegevens van kandidaat-studenten</strong></p>
<p>We gebruiken gegevens die de kandidaat-student ons doorgeeft om onze infomomenten zo goed mogelijk op hem/haar af te stemmen. Daarnaast kunnen wij de kandidaat-student op deze manier op de hoogte te houden van de infomomenten die passen bij zijn/haar interesses. In opdracht van UC Leuven-Limburg kunnen derde partijen ons helpen bij een correcte uitvoering.</p>
<p>De gegevens van kandidaat-studenten worden niet langer bewaard dan nodig.</p>
<p><strong>Studentengegevens</strong></p>
<p>We gebruiken studentengegevens om onze onderwijsopdracht goed uit te kunnen voeren, in het bijzonder het begeleiden van studenten bij hun studie; voeren van een studenten- en examenadministratie; toekennen van bijzondere statuten en faciliteiten; organiseren van internationale uitwisselingen en studentenvoorzieningen.</p>
<p>Daarnaast wordt op de studentengegevens ook onderzoek verricht om de studentenondersteuning, -begeleiding, –doorstroming en -evaluatie door de opleiding te optimaliseren.</p>
<p>Studentengegevens worden uitgewisseld met de overheid. Dit gebeurt met het oog op de financiering van de hogeschool en de decretale regels over studievoortgangsbewaking (leerkrediet) en verminderen van administratieve overlast (voorbeeld: erkenning als verpleegkundige).</p>
<p>Verder delen wij persoonsgegevens van de studenten met hun stageplaats in het kader van de stage(evaluatie). </p>
<p>In opdracht van UC Leuven-Limburg kunnen geselecteerde derde partijen meewerken aan de uitvoering van de onderwijsopdracht. Met deze partijen wordt een verwerkersovereenkomst gesloten om een zorgvuldige omgang met persoonsgegevens te verzekeren.</p>
<p>Op individuele basis is externe uitwisseling met andere personen of organisaties alleen mogelijk in de volgende gevallen:</p>
<ul>
    <li>de student heeft zich vooraf akkoord verklaard;</li>
    <li>na een gerechtelijk bevel; </li>
    <li>bij wanbetaling van de student. </li>
</ul><p>Studentengegevens worden bijgehouden zolang de wetgeving dat vereist. Studieresultaten worden niet gewist. Op deze manier kan UC Leuven-Limburg bij verlies van documenten door de vroegere student, later nog een attest afleveren.</p>
<p>Studentengegevens worden nooit langer bewaard dan nodig voor het uitoefenen van bovengenoemde doelstellingen en zolang de wetgeving het vereist.</p>
<p><strong>Gegevens van deelnemers aan permanente vorming</strong></p>
<p>De persoonsgegevens van deelnemers aan permanente vorming worden gebruikt om de inschrijving en vorming zelf correct te laten verlopen. Deze gegevens worden bijgehouden tot en met het einde van de vorming of zolang relevante wetgeving dit vereist.</p>
<p>Op basis van toestemming kunnen deelnemers aan vormingen opnieuw worden benaderd via de nieuwsbrief van de hogeschool. Deelnemers kunnen zich hiervoor altijd uitschrijven.</p>
<p>Gegevens nodig voor attestering worden in principe niet gewist. Op deze manier kan UC Leuven-Limburg bij verlies van documenten door de vroegere deelnemer een nieuw attest afleveren.</p>
<p><strong>Leveranciers- en klantengegevens</strong></p>
<p>Leveranciers- en klantengegevens worden beheerd door administratieve diensten met als doel het voeren van een correcte administratie.</p>
<p>De naam en adresgegevens van klanten van onze webshops worden verwerkt met als doel de levering te kunnen verzorgen. Deze gegevens kunnen ook worden doorgegeven aan geselecteerde derde partijen met hetzelfde doel. Gegevens van klanten van de webshops kunnen worden bijgehouden in het kader van direct marketing. Klanten kunnen zich hiervoor op elk moment uitschrijven.</p>
<p>Deze persoonsgegevens worden bijgehouden zolang als de wetgever dit verplicht of zolang de gegevens nodig zijn voor bovengenoemde doelen. </p>
<p><strong>Gegevens van alumni</strong></p>
<p>Gegevens van alumni worden verwerkt in context van onderzoek, vacatures en nieuwsbrieven. Deze gegevens worden bewaard tot de gegeven toestemming wordt ingetrokken.</p>
<p>Op basis van het gerechtvaardigd belang van UC Leuven-Limburg kunnen alumni na hun afstuderen per e-mail worden benaderd om deel te nemen aan enquêtes over de door hun gevolgde opleiding en de match met het werkveld. Het doel van deze enquêtes is om de kwaliteit van ons onderwijs te verbeteren. Alumni kunnen zich uitschrijven voor deze bevragingen.</p>
<p><strong>Gegevens van contacten met het werkveld</strong></p>
<p>Gegevens van contacten in het werkveld worden voornamelijk in educatieve context verwerkt, bijvoorbeeld in het kader van stages, kwaliteit van de opleidingen of van onderzoek.</p>
<p>Deze gegevens worden zo lang bewaard als nodig is voor deze doeleinden.</p>
<p><strong>Personeelsgegevens</strong></p>
<p>
    De hogeschool houdt een administratief personeelsdossier bij om haar wettelijke verplichtingen in verband met de arbeidsovereenkomst te vervullen (uitbetalen van loon,  wettelijke aangiftes inzake bedrijfsvoorheffing en sociale zekerheid).<br />
    We verwerken personeelsgegevens om te kunnen voorzien in een gepaste functioneringsbegeleiding en personeelsevaluatie.<br />
    Personeelsgegevens worden bewaard overeenkomstig de wettelijke bewaartermijnen zodat aan vroegere personeelsleden een correct pensioenbedrag kan worden uitgekeerd.
</p>
<p><strong>Gegevens van gebruikers van onze (IT-)infrastructuur</strong></p>
<p>Elektronische identificatiegegevens verwerken we om onze IT-infrastructuur goed te kunnen beheren en beveiligen. Camerabeelden gebruiken we om de veiligheid in onze gebouwen te verzekeren. We houden deze gegevens bij zolang als nodig is voor deze doelen en binnen de wettelijke bepalingen.</p>
<p><strong>Onderzoeksgegevens</strong></p>
<p>Onderzoekers verzamelen, analyseren en beheren persoonsgegevens die noodzakelijk zijn voor het praktijkgericht wetenschappelijk onderzoek.  Deze gegevens worden bewaard zolang als nodig voor het onderzoek.  Deze bewaartermijn kan afhankelijk van de aard van het onderzoek oplopen tot 20 jaar.</p>
<h3>Hoe gaan wij om met beeldmateriaal voor educatieve doeleinden?</h3>
<p>Om ons onderwijs (zo toegankelijk) mogelijk te maken en om evaluatie van competenties mogelijk te maken, worden er soms beeldopnames gemaakt van de onderwijsactiviteiten, bijvoorbeeld om een zieke student de les ook te kunnen laten volgen of om de competenties en vaardigheden van de student te kunnen evalueren. De studenten worden vóór de onderwijsactiviteit begint, geïnformeerd over het feit dat de activiteit zal worden opgenomen. Binnen het redelijke houden we studenten zo veel mogelijk buiten beeld. De opnames van de onderwijsactiviteiten worden alleen op beveiligde en afgeschermde platformen geplaatst die enkel toegankelijk zijn voor het doelpubliek dat deze beelden nodig heeft. Op publieke, openbare platformen kan dit lesmateriaal enkel worden gepubliceerd met expliciete toestemming van degenen die in beeld komen.</p>
<p>Wij kunnen het bovenvermelde beeldmateriaal van de studenten blijven gebruiken nadat de studenten de hogeschool hebben verlaten als dit in het belang is van ons onderwijs.</p>
<h3>Hoe beveiligen we persoonsgegevens?</h3>
<p>Het aantal personeelsleden van UC Leuven-Limburg dat toegang heeft tot de persoonsgegevens, is beperkt. Werknemers van UC Leuven-Limburg krijgen enkel toegang tot de persoonsgegevens voor zover ze die informatie nodig hebben om hun taken naar behoren uit te voeren.</p>
<p>Daarnaast heeft UC Leuven-Limburg een Data Protection Officer aangesteld die ons adviseert over de privacyregels en die nagaat of UC Leuven-Limburg de privacyregels naleeft.</p>
<p>We gebruiken technische maatregelen om de persoonsgegevens te beschermen tegen ongeoorloofde toegang, ongeoorloofd gebruik, verlies of diefstal van de gegevens zoals een sterk wachtwoord, firewalls, antivirus, back up enz.</p>
<p>Voor wat betreft het praktijkgericht wetenschappelijk onderzoek doen de onderzoekers een beroep op de ethische commissies van KU Leuven.  Deze commissies voeren een risicoanalyse uit vóórdat wordt gestart met het onderzoek.  Afhankelijk van de resultaten van deze risicoanalyse voorziet de onderzoeker in de passende beveiligingsmaatregelen. </p>
<h3>Wat zijn uw privacy-rechten en hoe kan u ze uitoefenen?</h3>
<p>Om één van de onderstaande rechten uit te oefenen, stuurt u een bericht via het <a href="https://www.ucll.be/vragen-privacy">contactformulier</a>. Deze rechten zijn echter verbonden aan voorwaarden, zodat de hogeschool mogelijks niet altijd zal kunnen ingaan op uw vraag.</p>
<p><strong>Recht van inzage</strong></p>
<p>U hebt het recht om van UC Leuven-Limburg uitsluitsel te verkrijgen over het al dan niet verwerken van uw persoonsgegevens en, wanneer dat het geval is, om inzage te verkrijgen in die persoonsgegevens.</p>
<p><strong>Recht op verbetering</strong></p>
<p>Als uw persoonsgegevens onjuist zijn, hebt u het recht om deze te laten corrigeren.</p>
<p><strong>Recht op ‘gegevenswissing’ (“recht op vergetelheid”)</strong></p>
<p>U hebt het recht om van UC Leuven-Limburg zonder onredelijke vertraging ‘wissing’ van uw persoonsgegevens te verkrijgen in de volgende gevallen:</p>
<p> </p>
<ul>
    <li>Wanneer uw gegevens niet langer nodig zijn voor de doeleinden waarvoor zij zijn verzameld of verwerkt; of</li>
    <li>Wanneer u uw toestemming intrekt en er geen andere rechtsgrond bestaat voor de verwerking; of</li>
    <li>Wanneer u bezwaar maakt tegen de verwerking en er geen prevalerende dwingende gerechtvaardigde gronden voor de verwerking bestaan; of</li>
    <li>Wanneer uw gegevens onrechtmatig zijn verwerkt; of</li>
    <li>Wanneer uw gegevens moeten worden gewist vanwege een wettelijke verplichting.</li>
</ul><p><strong>Recht om toestemming in te trekken</strong></p>
<p>U hebt altijd het recht om uw gegeven toestemming in te trekken. Het is niet mogelijk om met terugwerkende kracht uw toestemming in te trekken.</p>
<p>
    <strong>Recht op beperken van de verwerking</strong>
</p>
<p>U hebt het recht om van UC Leuven-Limburg beperking van de verwerking van uw gegevens te verkrijgen:</p>
<ul>
    <li>Tijdens de periode die UC Leuven-Limburg nodig heeft om de juistheid van uw gegevens te controleren, in geval van betwisting; of</li>
    <li>Wanneer de gegevensverwerking onrechtmatig is en u verzoekt tot een beperking van de verwerking in plaats van het wissen van de persoonsgegevens; of</li>
    <li>Wanneer UC Leuven-Limburg jouw gegevens niet meer nodig heeft, maar u de gegevens nodig heeft voor een rechtsvordering; of</li>
    <li>Tijdens de periode die UC Leuven-Limburg nodig heeft om de aanwezigheid van de gronden voor het wissen van de persoonsgegevens te beoordelen.</li>
</ul><p>
    <strong>Recht van bezwaar</strong>
</p>
<p>U hebt altijd het recht om vanwege met uw specifieke situatie verband houdende redenen, bezwaar te maken tegen de verwerking van uw gegevens.</p>
<p><strong>Recht op overdraagbaarheid van gegevens</strong></p>
<p>U hebt het recht om de gegevens die u aan UC Leuven-Limburg hebt verstrekt, in een gestructureerde, gangbare en machine-leesbare vorm te verkrijgen. U hebt het recht die gegevens aan een andere verwerkingsverantwoordelijke over te dragen, indien de verwerking berust op uw toestemming of op een overeenkomst en indien de verwerking via geautomatiseerde procedés wordt verricht.</p>
<p><strong>Recht om klacht in te dienen</strong></p>
<p>De hogeschool nodigt u vriendelijk uit rechtstreeks met haar contact te nemen als u klachten hebt over het gebruik van uw persoonsgegevens. U hebt ook het recht om een klacht in te dienen over de verwerking van uw gegevens bij de Belgische Gegevensbeschermingsautoriteit.</p>
<h3 >Hoe kan ik contact opnemen met UC Leuven-Limburg?</h3>
<p>Voor meer informatie over deze privacyverklaring of voor klachten in verband met de verwerking van uw persoonsgegevens, kan u contact opnemen met de Data Protection Officer van UC Leuven-Limburg via het <a href="https://www.ucll.be/vragen-privacy">contactformulier</a>. </p>
<h3 class="accordion-title">Update?</h3>
<p>UC Leuven-Limburg kan deze privacyverklaring aanpassen. Natuurlijk laten we weten wanneer er wijzigingen zijn. Check op onze website of u beschikt over de laatste versie van onze privacyverklaring.</p>
<p>
    Versie 1.2. van 19/12/2019: aanpassingen omwille van inkanteling graduaten en wijziging wetgeving WVV<br />
    Versie 1.1. van 9/10/2018: aanvulling voor het domein onderzoek
</p>

